@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav.active{
  color:white;
  border-bottom: 1px solid #D68C45;
  }


  /* This is the animation for the logo */

  .logo-flip {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 6s;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }


  .picture {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }

  .sony-sixteen {
    background-image:url(../src/assets/images/pexels-sonny-sixteen-14019522.jpg);
    
    
}

.mission {
  background-image:url(../src/assets/images/pexels-mart-production-7415023.jpg);
  transform: translatex(100%);
  transform: translate(0%);
  animation: move-in 5s ease-in-out 1;
  transform-origin: center;
  width:100%
  
}

@keyframes move-in {
  from {
    transform: translatex(-100%);
  }

  to {
    transform: translatex(30%);
  }
}
 

.vision {
  background-image:url(../src/assets/images/pexels-mart-production-7415064.jpg);
  transform: translatex(100%);
  transform: translate(0%);
  animation: move-in-right 5s ease-in-out 1;
  transform-origin: center;
  width:100%
  
}

@keyframes move-in-right {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translatey(30%);
  }
}
 

.management {
  background-image:url(../src/assets/images/Aba-Abia-State.webp);
  
}

.project {
  transform: translatex(100%);
  transform: translate(0%);
  animation: move-in 5s ease-in-out 1;
  transform-origin: center;
  width:100%
}


  
  